h1  {
    color: purple;
    font-size: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 15px;
}
h2{
    color: black;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 15px;
    font-family: Calibri;
    font-style: italic;
}
img{
    /* height: 320px; */
    width: 400px;
}

em{
    text-transform: uppercase;
    font-style: initial;
}
#first {
    text-align: left; 
}
/* #second { */
    /* text-align: right; */
/* } */
.right{
    text-align: right;
}
body{
    background-color: white;
}
.big{
    font-size: 48px;
}
p.tacos .big {
    font-size: 48px;
}
p{
    text-align:center;
    font-family: helvetica;
}